.start-screen {
	margin: 0;
	position: absolute;
	top: 42%;
	left: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	transform: translate(-50%, -50%); }
	.start-screen h1 {
		font-size: 36px;
		color: #fff;
		padding: 20px 60px;
		margin-bottom: 20px;
		background-color: #01579B; }
	.start-screen button {
		padding: 10px 30px;
		-webkit-user-select: none;
		font-size: 20px;
		text-align: center;
		cursor: pointer;
		outline: none;
		color: #fff;
		border: none;
		border-radius: 15px;
		box-shadow: 0 10px #0277BD;
		background-color: #0288D1; }
		.start-screen button:active {
			box-shadow: 0 5px #01579B;
			transform: translateY(4px); }